{% extends 'base.html' %}

{% block title %} New PL {% endblock %}

{% block content %}

<h1>Fill out the Playlist Form to create a new playlist!</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
        <!-- Errors -->
        {% if field.errors %}
        <div class="alert alert-danger">
            {% for error in field.errors%}
            <p>
                {{error}}
            </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Add Playlist </button>
    </div>
</form>

{% endblock %}